<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <p>Este es un indice para la plantilla basica de una pagina web 
        la cual es un modelo estandar </p>
        <h1>Model List</h1>
    <ul>
        {% for model in model_list %}
            <li><a href="{% url 'model-detail' model.slug %}">{{ model.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
