<!DOCTYPE html>
<html>
    {% extends "index/base.html" %}
<head>
    <title>{% if form.instance.pk %}Edit ModelTest{% else %}Create ModelTest{% endif %}</title>
</head>

<body>
    {%  block content %}
    <h1>{% if form.instance.pk %}Edit ModelTest{% else %}Create ModelTest{% endif %}</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="{% if form.instance.pk %}Update{% else %}Create{% endif %}">
    </form>

    <a href="{% url 'index:model-list' %}">Back to ModelTest List</a>
    {% endblock %}
</body>
</html>
